<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Shuvanshu Gupta">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Assignments</title>

    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/theme.css" rel="stylesheet" media="all">
    <style>
        
        html, body{min-height:100%;}
        body{height:100vh;}
        body,.page-wrapper{
            background-color: #E8E8E8;
        }
    </style>
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="/images/icon/logo.png" alt="ClassAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="index.html">
                                <i class="far fa-check-square"></i>Back to dashboard</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="/images/icon/logo.png" alt="Class Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li style="background-color: #101010; padding-left: 20px; border-radius: 30px; margin-bottom: 10px;">
                            <a href="/dashboard" style="color: white;">
                                <i class="fas fa-chevron-left"></i>Back to dashboard</a>
                        </li>

                        <% subjectarray.forEach((one)=>{ %>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <%= one.name %>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <% one.assignments.forEach((oneassignment,index)=>{ %>
                                        <li>
                                            <a class="js-arrow" href="/assignments/<%= oneassignment._id %>">Assignment <%= index + 1 %></a>
                                        </li>
                                    <% }) %>
                                </ul>
                            </li>
                        <% }) %>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    
                                    
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity"><%= notificationarray.length %></span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have <%= notificationarray.length %> Notifications</p>
                                            </div>

                                            <% notificationarray.forEach((one)=>{ %>
                                                <div class="notifi__item">
                                                    <div class="bg-c1 img-cir img-40">
                                                        <i class="zmdi zmdi-email-open"></i>
                                                    </div>
                                                    <div class="content">
                                                        <p><%= one.content %></p>
                                                        <span class="date">April 12, 2018 06:50</span>
                                                    </div>
                                                </div>
                                            <% }) %>

                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="/uploads/<%= user.image %>" alt="<%= user.name %>" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#"><%= user.name %></a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="/uploads/<%= user.image %>" alt="<%= user.name %>" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#"><%= user.name %></a>
                                                    </h5>
                                                    <span class="email"><%= user.email %></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/user/logout">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->

            
            <!-- END MAIN CONTENT-->
            
            <!-- END PAGE CONTAINER-->
        </div>
        
      </div>
            
            <!-- <strong><h3 style="color: white; margin-top: 20%; text-align: center; background-color: #E8E8E8; z-index: -1; margin-left: 17.6%;">Select a file to show here.</h3></strong> -->
    
            <form action="" method="POST" enctype="multipart/form-data" style="margin-top:0.65%; margin-left: 18.5%;">
                <input type="file" name="file" placeholder="choose file" style="padding-top: 0.4%;"/>
                <label style="text-align: center; margin-left: 20.5%;">
                    <% if (submission == undefined) { %>
                    Not Submitted
                    <% } else if(submission.marks == -1) { %>
                    Not Checked
                    <% } else { %>
                    <%= submission.marks %>/<%= assignment.totalmarks %>
                    <% } %>
                </label>
                <button type="submit" class="btn btn-success" style="float: right; margin-right: 0%; padding:0.7% 2%; border-radius:0; overflow:hidden;">S U B M I T</button>
            </form>

            <embed src="/uploads/<%= assignment.fileurl %>" width="82.4%" height="84.37%" style="margin-left: 17.6%;" />     
      
      <!-- Jquery JS-->
      <script src="/vendor/jquery-3.2.1.min.js"></script>
      <!-- Bootstrap JS-->
      <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
      <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
      <!-- Vendor JS       -->
      <script src="/vendor/slick/slick.min.js">
      </script>
      <script src="/vendor/wow/wow.min.js"></script>
      <script src="/vendor/animsition/animsition.min.js"></script>
      <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
      </script>
      <script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
      <script src="/vendor/counter-up/jquery.counterup.min.js">
      </script>
      <script src="/vendor/circle-progress/circle-progress.min.js"></script>
      <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
      <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
      <script src="/vendor/select2/select2.min.js">
      </script>
  
      <!-- Main JS-->
      <script src="/js/main.js"></script>
  </body>
  
  </html>
  <!-- end document-->